/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  width: 512px;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* Utils */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.central_wrapper {
  flex-grow: 1;
  background-color: #1c1d23;
  display: flex;
}

/* Header */
h1 {
  margin: 35px 25px 0;
  font-size: 1.7rem;
  color: white;
  font-weight: 800;
}

.btn_header {
  display: flex;
  justify-content: space-between;
  margin: 10px 25px;
}

.btn_header > button {
  color: white;
  border: none;
  background-color: #373a43;
}

div > button:first-child {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

button:nth-child(2) {
  padding: 0 105px;
  border-radius: 20px;
}

/* Main */

.flex_list {
  display: flex;
  gap: 0.6rem;
  list-style: none;
  padding: 15px 20px;
  color: #82838e;
  position: relative;
}

.dot {
  position: absolute;
  left: 55px;
  top: 55px;
  transform: translate(-50%, -50%);
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 4px solid #1c1d22;
}

.red_dot {
  background-color: rgb(255, 48, 48);
}

.yellow_dot {
  background-color: #f4a71b;
}

.green_dot {
  background-color: #39a65d;
}

.grow {
  flex-grow: 1;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul li img {
  width: 2.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.last_dm,
.dm_time {
  font-size: 0.9rem;
}

.dm_name {
  font-weight: 700;
}

.active {
  background-color: #2d2c35;
  border-radius: 20px;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #141318;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  position: relative;
}

.white_bar {
  position: absolute;
  left: 0px;
  top: 65px;
  transform: translate(-50%, -50%);
  height: 45px;
  width: 10px;
  border-radius: 20px;
  background-color: white;
}

.sidebar img:first-child {
  width: 70%;
}

.round {
  width: 70%;
  border-radius: 50%;
}

/* Footer */
.app_footer {
  min-height: 90px;
  background-color: #2d2c35;
  flex-shrink: 0;
  padding: 20px;
}

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;
}

a {
  color: white;
  text-decoration: none;
}

.profile_img {
  width: 1.4rem;
  border-radius: 50%;
}

.footer_icons {
  font-size: 1.4rem;
}

.footer_flex a span {
  font-size: 0.7rem;
  font-weight: 600;
}
