/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  color: white;
}

/* Utils */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* main */
.central_wrapper {
  flex-grow: 1;
  background-color: #1c1d23;
  display: flex;
}

/* Header */
h1 {
  margin: 35px 25px 0;
  font-size: 1.7rem;
  color: white;
}

.btn_header {
  display: flex;
  justify-content: flex-start;
  margin: 10px 25px;
  gap: 1rem;
}

.btn_header > button {
  color: white;
  border: none;
  background-color: #373a43;
}

div > button:first-child {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

button:nth-child(2) {
  padding: 0 120px;
  border-radius: 20px;
}

/* Main */

.flex_list {
  display: flex;
  gap: 0.6rem;
  position: relative;
  list-style: none;
  gap: 1rem;
  position: relative;
  list-style: none;
  margin: 30px 25px;
  color: #82838e;
}

ul li img {
  width: 2.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.last_dm {
  font-size: 0.9rem;
}

.dm_name {
  font-weight: 700;
}

.flex_list li {
  position: relative;
}

.dm_time {
  position: absolute;
  left: 350px;
  top: 0;
  font-size: 0.9rem;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #141318;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.sidebar img:first-child {
  width: 70%;
}

.round {
  width: 70%;
  border-radius: 50%;
}

/* Footer */
.app_footer {
  min-height: 90px;
  background-color: #2d2c35;
  flex-shrink: 0;
  padding: 20px;
}

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;
}

a {
  color: white;
  text-decoration: none;
}

.profile_img {
  width: 1.4rem;
  border-radius: 50%;
}

.footer_icons {
  font-size: 1.4rem;
}

.footer_flex a span {
  font-size: 0.7rem;
  font-weight: 600;
}
