/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  color: white;
}

/* Utils */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* main */
.central_wrapper {
  flex-grow: 1;
  background-color: #1c1d23;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #141318;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.sidebar img:first-child {
  width: 70%;
}

.round {
  width: 70%;
  border-radius: 50%;
}

/* Footer */
.app_footer {
  min-height: 90px;
  background-color: #2d2c35;
  flex-shrink: 0;
  padding: 20px;
}

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;
}

a {
  color: white;
  text-decoration: none;
}

.profile_img {
  width: 1.4rem;
  border-radius: 50%;
}

.footer_icons {
  font-size: 1.4rem;
}

.footer_flex a span {
  font-size: 0.7rem;
  font-weight: 600;
}
