/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

/* Utils */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

/* main */
.central_wrapper {
  flex-grow: 1;
  background-color: #1c1d23;
  display: flex;
}

.sidebar {
  width: 60px;
  background-color: #141318;
  flex-shrink: 0;
}

.app_footer {
  height: 80px;
  background-color: #2d2c35;
  flex-shrink: 0;
}
